.header {
    background-color: var(--bg-dark);
    padding: 30px 0;
    border-bottom: 1px solid #1a1a1a;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text {
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: 0.2em;
    color: var(--text-main);
    margin: 0;
}